@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);


.contact form {
    font-size: 19px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Inconsolata", sans-serif;
    font-weight: 400;
    border-radius: 5px;
    padding: 20px;

}

.contact [type="text"],
.contact textarea,
.contact [type="button"] {
    border-radius: 5px;
}

.contact [type="button"] {
    background: #1a2530;
    display: inline-block;
    padding: 0.3em 1em 0.5em;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #18222d, #1a2530);
    background: linear-gradient(left, #18222d, #1a2530);
    box-shadow: inset 3px 3px 15px -5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #27ae60;
    border: 1px solid rgba(41, 128, 185, 0.3);
    font-size: 90%;
}

.contact [type="button"]:focus {
    background: #3498db;
    color: white;
}

.contact [type="button"]:hover {
    background: #27ae60;
    color: white;
}

.contact [type="button"]:active {
    background: #1a2530;
    color: white;
}


.contact input,
.contact textarea {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


.contact input:hover,
.contact textarea:hover {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.contact Codegena {
    font-size: 35px;
    margin-bottom: 10px;
    color: #2980b9;
}


.contact input,
.contact textarea {
    font-size: 100%;
    height: 45px;
}

.contact input:focus,
.contact textarea:focus {
    outline: none;
    border: 1px solid #2980b9;
    background: #1a2530;
    box-shadow: inset 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
}


.contact ::-webkit-input-placeholder {
    color: rgba(41, 128, 185, 0.3);
}

.contact [type="text"],
.contact textarea {
    border: none;
    background: inherit;
    color: #94bfdc;
    border: 1px solid rgba(41, 128, 185, 0.3);
    padding: 20px -20px;
    width: 100%;
    -webkit-filter: blur(5px);
}

.contact [type="text"]:focus,
.contact textarea:focus {
    -webkit-filter: blur(0px);
}

.contact .stage {
    max-width: 500px;
    width: 80%;
}

.contact .items_in_card li {
    text-decoration: none;
    list-style-type: none;

}
.contact .items_in_card a{
    color: white;
    text-decoration: none;
}
.contact .items_in_card a:visited{
    color: #0a3622;
}
.contact .items_in_card a:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    outline: 2px solid;
    outline-offset: -2px;
    background-image: linear-gradient(to right, #ff9a9e, #fad0c4);
}
.contact .items_in_card li:hover{
    font-size: 28px;

}